@font-face {
  font-family: "Neue Haas";
  src: local("Neue Haas"),
    url("./assets/NeueMontreal-Medium.ttf") format("truetype");
}

.App{
  font-family: "Neue Haas";
}

/*form settings*/
#url-field, #notes-field{
  width: 45%;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  border-bottom:2px solid;
}
#submit-button{
  width: 10%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #000;
  border: none;
  color: #fff;
  border:2px solid;
  cursor: pointer;
}

/* table settings */
table{
  display: table !important;
  text-align: left;
  width: 100%;
}
tr{
  width: 100%;;
}
td, th{
  text-align: left;
}

.table-hidden{
  display: none;
}

.table-display{
  display: block;
}

#edit{
  cursor: pointer;
  text-align: right;
}
